In [ ]:
#Ejercicio listas
valoresnumericos=[0,2,4,6,8,10,12,14,16,18]
valorescombinados=[19,"biologia",1.59,"tenis",2003,"veggie",29,"Ana",24,"Jesus"]
valorestexto=["mariana","julian","sofia","alejandra","sara","valeria","felipe","susana","elena","majo"]

valoresnumericos[0]=20
valorescombinados[0]=20
valorestexto[0]=20

valoresnumericos[5]="Hola mundo"
valorescombinados[5]="Hola mundo"
valorestexto[5]="Hola mundo"

print (valoresnumericos[9])
print (valorescombinados[9])
print (valorestexto[9])